@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

.bg-pattern {
    background-color: #e5e5f7;
    opacity: 0.9;
    background-image: linear-gradient(30deg, #8f00ff 12%, transparent 12.5%, transparent 87%, #8f00ff 87.5%, #8f00ff), linear-gradient(150deg, #8f00ff 12%, transparent 12.5%, transparent 87%, #8f00ff 87.5%, #8f00ff), linear-gradient(30deg, #8f00ff 12%, transparent 12.5%, transparent 87%, #8f00ff 87.5%, #8f00ff), linear-gradient(150deg, #8f00ff 12%, transparent 12.5%, transparent 87%, #8f00ff 87.5%, #8f00ff), linear-gradient(60deg, #8f00ff77 25%, transparent 25.5%, transparent 75%, #8f00ff77 75%, #8f00ff77), linear-gradient(60deg, #8f00ff77 25%, transparent 25.5%, transparent 75%, #8f00ff77 75%, #8f00ff77);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    background-attachment: fixed;
}

html{
    scroll-behavior: smooth!important;
    --scroll-behavior: smooth!important;
}